<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>Order Details</h1>

    <table style="text-align:center;padding:15px;background-color: #fffafa; border:1px solid black">
        <tr>
            <td><strong>Order ID</strong></td>
            <td><strong>Customer Name </strong></td>
            <td><strong>Order Date</strong></td>
            <td><strong>Quantity</strong></td>
        </tr>

    <tr>
        <td>{{product.order_id}}</td>
        <td>{{product.customer_name}}</td>
        <td>{{product.order_date}}</td>
        <td>{{product.quantity}}</td>
    </tr>

    <table>
    </body>
</body>
</html>